.skeleton__panel {
  width: 800px;
  margin: 0 auto;
}

.skeleton__line {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  min-height: 110px;
  background-image: linear-gradient(
    90deg,
    #e7edf1 0px,
    #f1f6fa 200px,
    #e7edf1 400px
  );
  background-size: auto;
  animation: shimmers 1.2s ease-out infinite normal;
}

@keyframes shimmers {
  0% {
    background-position: -400px;
  }
  50% {
    background-position: 700px;
  }
  100% {
    background-position: 700px;
  }
}
