@import "../common/styles/common";

.chart-container {
  width: 80em;
  height: 50em;
  border: 1px solid black;
  border-right: none;
  border-top: none;
  margin: 20px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;

  .ticket-label {
    left: 0%;
    top: 50%;
    transform: translateX(-60%) rotate(-90deg);
  }

  .department-label {
    bottom: 0%;
    left: 50%;
    transform: translateY(100%);
  }
}
