.bar {
  flex: 1;
  position: relative;
  cursor: pointer;

  .tooltip {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &:hover .tooltip {
    opacity: 1;
  }
}
